{
 "directoryPath":"${exchange.properties.directoryPath}", 
 "userName":"${headers.username}",  
 "size":"${headers.size}",  
 "copyFatherPermissions" : "${headers.copyFatherPermissions}",   
 "expirationTime" : "${headers.expirationTime}",  
 "recursiveErased" : "${headers.recursiveErased}" 	 
 } 